.title {
    text-align: center;
    padding: 20px;
}

.example-card {
    max-width: 300px;
    background-color: rgb(123, 80, 179);
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}